<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Forkio</title>
<link rel="apple-touch-icon" sizes="57x57" href="./dist/img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="./dist/img/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="./dist/img/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="./dist/img/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="./dist/img/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="./dist/img/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="./dist/img/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="./dist/img/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="./dist/img/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="./dist/img/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="./dist/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="./dist/img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="./dist/img/favicon/favicon-16x16.png">
<link rel="manifest" href="./dist/img/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./dist/css/style.min.css">