.pricing{
    @include background-image("../img/pricing/pricing-background.png");
    padding:14px 0;
    @media (min-width:481px) {
        padding-top: 83px;
        padding-bottom: 149px;
    }
    &__title{
        @include text-styles(700, 28px, 42px, center, $color-white);
        margin-top: 0;
        margin-bottom: 0;
        @media (min-width:481px) {
                font-size: 42px;
                line-height: 44px;
            }
        @media (min-width:993px) {
                font-size: 48px;
                line-height: 50px;
            }
    }
    &__list{
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        row-gap: 18px;
        @media (min-width:481px) {
            margin-right: auto;
            margin-left: auto;
            row-gap: 71px;
            flex-direction: row;
            flex-wrap: wrap;
            width: 90%;
            max-width: 550px;
        }
        @media (min-width:993px) {
            margin: 0;
            width: auto;
            max-width: 1180px;
            margin-top: 111px;
        }
    }
}
.pricing-item{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 260px;
    height: 515px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width:481px) {
        width: 45%;
        margin-right: auto;
        margin-left: auto;
    }
    @media (min-width:993px) {
        width: 22%;
    }
    background-color: rgba(255,255,255,0.11);
    &--accent{
        height: 570px;
        width: 300px;
        background-color: #463048;
        @media (min-width:481px) {
            width: 47%;
            position: relative;
            left: -4%;
            top: -35px;
        }
        @media (min-width:993px) {
            width: 26%;
            left: 0;
        }
    }
    &__title{
        @include text-styles(400, 24px, 24px, center, $color-white);
        text-transform: uppercase;
        padding: 36px 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.06);
        margin-top: 0;
        margin-bottom: 30px;
        &--accent{
            padding: 43px 0;
            background-color: rgba(0, 0, 0, 0.06);
            margin-bottom: 14px;
        }
    }
    &__price{
        @include text-styles(400, 60px, 62px, center, $color-white);
        text-transform: uppercase;
        margin-bottom: 20px;
        @media (min-width:481px) {
            line-height: 90px;
        }
        &--bold{
            font-weight: 600;
        }
        &--accent{
            font-size: 82px;
            line-height: 84px;
            margin-bottom: 15px;
            @media (min-width:481px) {
                    line-height: 90px;
            }
        }
    }
    &__time{
        @include text-styles(400, 14px, 16px, center, $color-white);
        text-transform: uppercase;
        margin-bottom: 38px;
        &--accent {
                margin-bottom:46px;
            }
        }
    &__line{
        width: 60px;
        border: 2.5px solid $color-accent;
        background-color: $color-accent;
        margin-top: 0;
        margin-bottom: 30px;
        &--accent{
            margin-bottom: 40px;
        }
    }
    &__benefits-item{
        @include text-styles(400, 16px, 28px, center, $color-white);
    }
    &__btn{
        @include text-styles(400, 15px, 15px, center, $color-white);
        text-transform: uppercase;
        background-color: rgba(255, 255, 255, 0.15);
        border: none;
        padding: 15px 40px;
        position: absolute;
        bottom: 37px;
        @media (min-width:481px) {
                padding: 19px 48px;
            }
        &--accent{
            position: absolute;
            bottom: 47px;
        }
    }
}