<section class="pricing">
    <div class="container">
    <h2 class="pricing__title">
        Fork Subscription Pricing
    </h2>
    <ul class="pricing__list">
        <li class="pricing__item pricing-item">
            <h2 class="pricing-item__title">
                Students
            </h2>
            <p class="pricing-item__price">
                $<span class="pricing-item__price--bold">29</span>
            </p>
            <p class="pricing-item__time">
                per month
            </p>
            <hr class="pricing-item__line">
            <ul class="pricing-item__benefits-list">
                <li class="pricing-item__benefits-item">
                    Personal License
                </li>
            </ul>
            <button type="button" class="button pricing-item__btn">
                purchase
            </button>
        </li>
        <li class="pricing__item pricing-item">
            <h2 class="pricing-item__title">
                professional
            </h2>
            <p class="pricing-item__price">
                $<span class="pricing-item__price--bold">59</span>
            </p>
            <p class="pricing-item__time">
                per month
            </p>
            <hr class="pricing-item__line">
            <ul class="pricing-item__benefits-list">
                <li class="pricing-item__benefits-item">
                    Professional License
                </li>
                <li class="pricing-item__benefits-item">
                    Email Support
                </li>
            </ul>
            <button type="button" class="button pricing-item__btn">
                purchase
            </button>
        </li>
        <li class="pricing__item pricing-item pricing-item--accent">
            <h2 class="pricing-item__title pricing-item__title--accent">
                agency
            </h2>
            <p class="pricing-item__price pricing-item__price--accent">
                $<span class="pricing-item__price--bold">99</span>
            </p>
            <p class="pricing-item__time pricing-item__time--accent">
                per month
            </p>
            <hr class="pricing-item__line pricing-item__line--accent">
            <ul class="pricing-item__benefits-list">
                <li class="pricing-item__benefits-item">
                    1-12 Team Members
                </li>
                <li class="pricing-item__benefits-item">
                    Phone Support
                </li>
            </ul>
            <button type="button" class="button pricing-item__btn pricing-item__btn--accent">
                purchase
            </button>
        </li>
        <li class="pricing__item pricing-item">
            <h2 class="pricing-item__title">
                enterprise
            </h2>
            <p class="pricing-item__price">
                $<span class="pricing-item__price--bold">159</span>
            </p>
            <p class="pricing-item__time">
                per month
            </p>
            <hr class="pricing-item__line">
            <ul class="pricing-item__benefits-list">
                <li class="pricing-item__benefits-item">
                    Unlimited Team Members
                </li>
                <li class="pricing-item__benefits-item">
                    24/ 7 Phone Support
                </li>
            </ul>
            <button type="button" class="button pricing-item__btn">
                purchase
            </button>
        </li>
    </ul>
    </div>
</section>