.burger-menu {
  position: relative;
  width: 26px;
  height: 22px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &__lines,
  &::after,
  &::before {
    position: absolute;
    display: block;
    width: 26px;
    height: 3px;
    background-color: $color-white;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

  }

  &::before,
  &::after {
    content: "";
    margin: 0 auto;
  }

  &::before {
    top: 0;
    right: 0;
    width: 15px;
  }

  &::after {
    bottom: 0;
  }

  &--active {
    &::before {
      opacity: 0;
    }

    & span {
      transform-origin: top;
      transform: rotatez(45deg)
    }

    &::after {
      transform-origin: top;
      transform: translate(-3px, -9px) rotatez(-45deg);
    }
  }

  @media (min-width: 480px) {
    display: none;
  }
}