.page-header {
  margin-bottom: 50px;
  @media (min-width: 481px) {
    margin-bottom: 67px;
  }
}

.container--header {
  position: relative;
}

.header {
  background-image: url("../img/header/header-background.png");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  transition: padding-bottom .3s;

  &__title {
    @include text-styles(700, 48px, 48px, center, $color-white);
    margin-top: 50px;
    margin-bottom: 0;
    @media (min-width: 481px) {
      @include text-styles(700, 72px, 72px, center, $color-white);
      margin-top: 69px;
    }
    @media (min-width: 1200px) {
      @include text-styles(700, 82px, 82px, center, $color-white);
      margin-top: 112px;
    }
  }

  &__description {
    @include text-styles(400, 18px, 24px, center, $color-accent);
    margin: 19px 11px 0 11px;
    @media (min-width: 481px) {
      @include text-styles(400, 24px, 24px, center, $color-accent);
      margin-top: 19px;
    }
    @media (min-width: 993px) {
      @include text-styles(400, 30px, 30px, center, $color-accent);
    }
  }

  &__app-version {
    @include text-styles(400, 14px, 14px, center, #848E97);
    margin-top: 14px;
    margin-bottom: 394px;
    transition: margin-top .2s;

    @media (min-width: 481px) {
      margin-top: 19px;
      margin-bottom: 439px;
    }

    @media (min-width: 993px) {
      margin-bottom: 426px;
      @include text-styles(400, 16px, 16px, center, #848E97);
    }
  }
}


.header__title,
.header__description,
.header__app-version,
.download__description {
  transition: margin-top .3s, font-size .3s;
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transform: translateY(65%);


  &__button {
    @include text-styles(700, 18px, 20px, center, $color-white);
    padding: 15px 29px;
    width: 290px;
    text-decoration: none;
    transition: width .3s, font-size .3s;

    @media (min-width: 481px) {
      @include text-styles(700, 21px, 23px, center, $color-white);
      width: 390px;
      padding: 23px 61px;
    }
  }

  &__description {
    @include text-styles(400, 14px, 14px, center, #848E97);
    margin-top: 12.5px;
    @media (min-width: 481px) {
      margin-top: 18.5px;
    }
  }
}