.navbar {
  margin: 0 auto;
  min-width:320px;
  max-width: 1200px;
  position: relative;
  background-color: $color-navbar;
  padding: 31px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: padding .3s;
  @media (min-width: 481px) {
    background-color: #27262A;
    flex-wrap: wrap;
    padding: 22px 20px 18px 20px;
    gap: 22px;
  }
  @media (min-width: 992px) {
    flex-wrap: nowrap;
    background-color: transparent;
    padding: 29.5px 20px 0 20px;
  }

  .navbar-logo__img {
    fill: $color-accent;
  }

  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    &:hover {
      .navbar-logo__img {
        fill: $color-white;
      }

      .navbar-logo__text {
        color: $color-white;
      }
    }
  }

  &-logo__text {
    display: none;
    @media (min-width: 481px) {
      display: inline;
      @include text-styles(700, 24px, 16px, center, $color-accent);
      text-transform: uppercase;
      margin-left: 17px;
    }
  }

  &__button {
    display: block;
    text-decoration: none;
    @include text-styles(700, 15px, 15px, center, $color-white);
    width: 119px;
    height: 37px;
    padding: 11px 10px;
    @media (min-width: 481px) {
      @include text-styles(700, 16px, 16px, center, $color-white);
      width: 145px;
      height: 38px;
      padding: 11px 20px;
      margin-left: 100px;
    }
    @media (min-width: 992px) {
      margin: 0;
      order: 1;
    }
  }


  &__menu {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 100%;
    $width: calc(100% - 30px);
    right: calc(100% - $width)/2;
    background-color: #333333;
    width: $width;
    z-index: 1;

    &--active {
      display: flex;
    }

    @media (min-width: 481px) {
      display: flex;
      background-color: transparent;
      flex-direction: row;
      justify-content: center;
      position: relative;
      width: 520px;
      margin: 0 auto;
    }
    @media (min-width: 993px) {
      width: auto;
      margin: 0 0 0 auto;
    }
  }
}

.menu {
  &__item {
    border-bottom: 3px solid #3B3B3B;
    @media (min-width: 481px) {
      border: none;
      &:not(:last-child) {
        margin-right: auto;
      }
      @media (min-width: 993px) {
        border: none;
        &:not(:last-child) {
          margin-right: 46px;
        }
      }
    }
  }

  &__link {
    display: block;
    @include text-styles(400, 26px, 26px, left, $color-white);
    text-decoration: none;
    padding: 29px 0 21px 35px;

    &:hover,
    &:active {
      color: $color-accent;
      position: relative;

      &::before {
        content: '';
        width: 8px;
        height: 53px;

        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: $color-accent;
      }
    }

    @media (min-width: 481px) {
      @include text-styles(700, 16px, 18px, center, $color-accent);
      padding: 0;
      &:hover {
        color: $color-white;

        &::before {
          display: none;
        }
      }
    }
  }
}