<header class="page-header header">
    <nav class="header__navbar navbar">
        <a href="#" class="navbar__logo">
            <svg class="navbar-logo__img"
                 width="43px"
                 height="41px"
                 viewBox="0 0 220 220"
                 xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M221.3,107.8c0.1-2.1-0.7-3.9-2-5.3L199.9,83l0.2-44.7c-0.1-0.3-0.2-0.8-0.3-1.2c0-0.1,0-0.3-0.1-0.4
          c-0.1-0.2-0.2-0.5-0.2-0.7c-0.1-0.3-0.1-0.5-0.2-0.8c-0.1-0.1-0.2-0.3-0.2-0.4c-0.1-0.3-0.3-0.5-0.4-0.8l-0.2-0.3
          c-0.2-0.3-0.4-0.5-0.6-0.7c-0.1-0.1-0.2-0.2-0.3-0.3c-0.3-0.2-0.5-0.5-0.8-0.7c-0.2-0.1-0.3-0.2-0.5-0.3l-0.3-0.1
          c-0.1-0.1-0.3-0.2-0.5-0.3c-0.6-0.3-1.4-0.4-2.2-0.5h-0.4h-16.1c-1.8,0-3.5,0.7-4.8,2c-1.3,1.3-2,3-2,4.8c0,3.7,3.1,6.8,6.8,6.8
          h9.3v41.1c0,0.6,0,1.2,0.1,1.7c0.3,2.1,1.5,3.8,3.1,4.9l0.8,0.6l14.9,14.9l-16.6,16.6c-0.8,0.7-1.4,1.6-1.8,2.5
          c-0.2,0.4-0.2,0.7-0.3,1.1l-0.1,0.3c-0.1,0.5-0.1,1.2-0.1,1.8v41.7h-9.3c-3.8,0-6.8,2.9-6.8,6.6c0,1.8,0.7,3.5,2,4.7
          c1.3,1.3,3,2,4.8,2l16.2-0.1c0.9,0,1.7-0.2,2.5-0.5l0.9-0.5c0.1-0.1,0.3-0.1,0.4-0.2c0.2-0.2,0.5-0.4,0.8-0.7l0.3-0.3
          c0.2-0.2,0.4-0.5,0.6-0.8l0.2-0.2c0.2-0.3,0.3-0.6,0.4-0.8l0.1-0.3c0.1-0.2,0.1-0.5,0.2-0.7c0-0.2,0.1-0.4,0.2-0.6
          c0.1-0.2,0.1-0.5,0.2-0.7c0-0.1,0,0,0,0.1c0-0.5,0.2-0.9,0.3-1.3l-0.2-45.1l19.3-19.5C220.6,111.5,221.3,109.8,221.3,107.8z
          M146.8,5.5c-0.8-0.6-2-1.4-3.1-1.4h-0.5L99-0.1c-0.1,0-0.2,0-0.3,0.1c-0.1,0-0.2,0-0.3,0.1c-0.3,0.1-0.6,0.2-0.9,0.3
          S97,0.5,96.7,0.6c-0.1,0-0.3,0.1-0.4,0.2l-0.8,0.4c-0.3,0.1-0.6,0.4-0.8,0.6l-0.3,0.1C94.2,2,94,2.3,93.7,2.6l-0.2,0.2
          c-0.2,0.3-0.4,0.6-0.5,0.8l-0.1,0.3c-0.1,0.3-0.2,0.5-0.3,0.8c0,0.1-0.1,0.3-0.2,0.4c0,0.1,0,0.1,0,0.2l-0.1,0.4
          c0,0.2-0.1,0.4-0.1,0.6L77.1,178.8c-0.3,1.9,0.2,3.8,1.4,5.2l19.8,24c0.1,0.1,0.1,0.3,0.2,0.4c1.3,1.5,3.1,2.4,5,2.4
          c1.5,0,3-0.5,4.2-1.6l23.9-20.5c0.2-0.2,0.5-0.5,0.8-0.9l0.1-0.2c0.8-1.1,1.2-2.4,1.3-3.7l11.6-133.7l0.1-0.4
          c0.1-0.5,0.2-0.8,0.2-1.1c0-0.3,0-0.6,0-1.1v-0.4l3.2-35.9C149.3,9.1,148.4,6.9,146.8,5.5z M121.7,176.4l-30.9-2.7l10.6-122.3
          l30.9,2.7L121.7,176.4z M133.3,40.8l-30.9-2.7l2.2-24l30.9,2.7L133.3,40.8z M44.5,171.6h-9.3V130c0-0.6,0-1.3-0.1-1.8l-0.1-0.3
          c-0.1-0.3-0.2-0.7-0.3-1.1c-0.4-0.9-1-1.8-1.8-2.5l-16.6-16.6l14.9-14.9l0.8-0.6c1.6-1,2.7-2.7,3.1-4.9c0.1-0.5,0.1-1.1,0.1-1.8
          V44.4h9.3c3.8,0,6.8-3,6.8-6.8c0-1.8-0.7-3.5-2-4.8s-3-2-4.8-2H28.4H28c-0.8,0-1.6,0.2-2.2,0.5c-0.2,0.1-0.4,0.2-0.5,0.3l-0.3,0
          c-0.2,0.1-0.3,0.2-0.5,0.3c-0.3,0.2-0.6,0.4-0.8,0.7c-0.1,0.1-0.2,0.2-0.3,0.3c-0.2,0.2-0.4,0.5-0.6,0.7l-0.2,0.3
          c-0.1,0.2-0.3,0.5-0.4,0.8C22,34.8,22,35,21.9,35.1c-0.1,0.2-0.2,0.5-0.2,0.8c-0.1,0.2-0.1,0.5-0.2,0.7c0,0.1-0.1,0.3-0.1,0.4
          c0,0.5-0.1,0.9-0.3,1.2l0.2,44.7L2,102.5c-1.4,1.4-2.1,3.1-2,5.3c0,1.9,0.6,3.7,1.9,5l19.3,19.5l-0.1,45
          c0.1,0.3,0.2,0.8,0.3,1.3c0-0.1,0-0.2,0-0.1c0.1,0.2,0.1,0.5,0.2,0.7c0.1,0.2,0.1,0.4,0.2,0.6c0.1,0.2,0.1,0.5,0.2,0.7l0.1,0.3
          c0.1,0.3,0.3,0.6,0.4,0.8l0.2,0.2c0.2,0.3,0.4,0.6,0.6,0.8l0.3,0.3c0.3,0.3,0.6,0.5,0.8,0.7c0.1,0.1,0.3,0.2,0.4,0.2l0.9,0.5
          c0.8,0.3,1.7,0.5,2.5,0.5l16.2,0.1c1.8,0,3.6-0.7,4.8-2c1.3-1.3,2-2.9,2-4.7C51.4,174.6,48.4,171.6,44.5,171.6z"/>
            </svg>
            <span class="navbar-logo__text">Forkio</span>
        </a>
        <a href="#" class="button button--accent navbar__button">Buy now</a>
        <div class="burger-menu">
            <span class="burger-menu__lines"></span>
        </div>
        <ul class="navbar__menu menu">
            <li class="menu__item">
                <a href="#" class="menu__link">Overview</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">About Fork</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Buying Options</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Support</a>
            </li>
        </ul>
    </nav>
    <div class="container container--header">
        <h1 class="header__title">Fork App</h1>
        <p class="header__description">A Real Gamechanger In The World Of Web-Development</p>
        <p class="header__app-version">v. 2.8 For Mac and Windows</p>
        <section class="header__download download">
            <a href="#" class="button button--accent download__button">Download For Free Now</a>
            <p class="download__description">Unlimited 30-Days Trial Period</p>
        </section>
    </div>
</header>