<section class="features">
    <div class="container">
        <h2 class="features__title">
            &lt;Here is what you get&gt;
        </h2>
        <ul class="features__list ">
            <li class="features__item features-item">
                <div class="features-item__img-container">
                    <img src="./dist/img/features/features-icon1.svg" alt="" width="111" height="64">
                </div>
                <div class="features-item__text-wrapper">
                <p class="features-item__subtitle">
                    Creatred to Make The Web Better
                </p>
                <p class="features-item__text">
                    Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue. 
                </p>
                </div>
            </li>
            <li class="features__item features-item">
                <div class="features-item__img-container">
                    <img src="./dist/img/features/features-icon2.svg"  alt="" width="90" height="80">
                </div>
                <div class="features-item__text-wrapper">
                <p class="features-item__subtitle">
                    Incredibly Powerful Tool
                </p>
                <p class="features-item__text">
                    Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id
                    quam auctor molestie eget ut augue.
                </p>
                </div>
            </li>
            <li class="features__item features-item">
                <div class="features-item__img-container">
                    <img src="./dist/img/features/features-icon3.svg"  alt="" width="60" height="84">
                </div>
                <div class="features-item__text-wrapper">
                <p class="features-item__subtitle">
                    Experimental Stuff
                </p>
                <p class="features-item__text">
                    Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id
                    quam auctor molestie eget ut augue.
                </p>
                </div>
            </li>
            <li class="features__item features-item">
                <div class="features-item__img-container">
                    <img src="./dist/img/features/features-icon4.svg"  alt="" width="71" height="71">
                </div>
                <div class="features-item__text-wrapper">
                <p class="features-item__subtitle">
                    Creatred to Make The Web Better
                </p>
                <p class="features-item__text">
                    Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id
                    quam auctor molestie eget ut augue.
                </p>
                </div>
            </li>
        </ul>
        <img src="./dist/img/features/features-320px.png" alt=""
            class="features__img features__img--mobile">
        <img src="./dist/img/features/features-1200px.png" alt=""
            class="features__img features__img--desktop">
        </div>
</section>