.features{
    position: relative;
    padding-top: 32px;
    @media (min-width:481px) {
        padding-top: 62px;
    }
    @media (min-width:993px) {
        padding-top: 98px;
        padding-bottom: 72px;
        background-color: #F4F4F4;
    }
    &__title{
        @include text-styles(700, 32px, 38px, center, $color-accent);
        margin: 0 45px;
        @media (min-width:481px) {
            font-size: 42px;
            line-height: 44px;
            margin: 0;
        }
        @media (min-width:993px) {
            position: absolute;
            left: calc(50% + 15px);
        }
    }
    &__list{
        margin-top: 36px;
        margin-left: 15px;
        margin-right: 15px;
        row-gap: 38px;
        @media (min-width:481px) {
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            max-width: 770px;
        }
        @media (min-width:993px) {
            margin-top: 0;
            margin-left: 30px;
            margin-right: 0;
            width: 47%;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 38px;
        row-gap: 27px;
        @media (min-width:481px) {
            margin-bottom: 61px;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        @media (min-width:993px) {
            margin-bottom: 35px;
        }
    }
    &__img{
        width: 103%;
        &--mobile{
            @media (min-width: 481px) {
                display: none;
            }
        }
        &--desktop{
            @media (max-width: 481px) {
                display: none;
            }
            @media (min-width: 993px) {
                position: absolute;
                left: 50%;
                top: 160px;
                width: 50%;
                max-width: 700px;
            }
        }
    }
}
.features-item{
    &__img-container{
        @media (min-width:481px) {
        width: 30%;
        display: flex;
        justify-content: center;
        }
    }
    &__text-wrapper{
        width: 70%;
    }
    &__subtitle{
        @include text-styles(400, 16px, 16px, center, #323232);
        margin-bottom: 14px;
        @media (min-width:481px) {
            line-height: 21px;
            text-align: left;
        }
    }
    &__text{
        @include text-styles(400, 14px, 21px, center, #848E97);
        @media (min-width:481px) {
                text-align: left;
            }
    }
}