.testimonial {
  background-image: url("../img/testimonial/testmonials-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__title {
    margin: 0;
    padding-top: 57px;
    @include text-styles(700, 36px, 48px, center, $color-white);
    @media (min-width: 481px) {
      padding-top: 86px;
      @include text-styles(700, 42px, 44px, center, $color-white);
    }
    @media (min-width: 993px) {
      padding-top: 108px;
      @include text-styles(700, 48px, 50px, center, $color-white);
    }
  }
}

.container--testimonial {
  min-width: 320px;
  @media (min-width: 481px) {
    margin: 0;
  }
  @media (min-width: 993px) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.partners {
  margin-top: 53px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 45px;
  flex-wrap: wrap;


  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @media (min-width: 481px) {
      width: 45%;
    }
    @media (min-width: 993px) {
      width: 30%;
    }
  }
  &__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
  }

  &__about {
    margin-top: 22px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    @include text-styles(700, 16px, 24px, center, $color-white);
  }
}

.testimonial__ref {
  margin-top: 37px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include text-styles(400, 14px, 21px, center, #A291A5);

  &::after {
    content: "";
    display: block;
    width: 75%;
    height: 2px;
    margin-top: 18.5px;
    background: #645766;
  }
}