<section class="testimonial">
    <h2 class="testimonial__title">
        People Are Talking About Fork
    </h2>
    <div class="container container--testimonial">
        <ul class="testimonial__partners partners">
            <li class="partners__item">
                <div class="partners__logo">

                    <img src="./dist/img/testimonial/logo-1.png"
                         alt="Smashing magazine"
                         class="partners__img"
                         width="165" height="43">
                </div>
                <p class="partners__about">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id
                    dignissim magna. Sed varius urna et pulvinar venenatis.</p>
            </li>
            <li class="partners__item">
                <div class="partners__logo">
                    <img src="./dist/img/testimonial/logo-2.png"
                         alt="Smashing magazine"
                         class="partners__img"
                         width="148" height="50">
                </div>
                <p class="partners__about">
                    Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis
                    eleifend nibh.
                </p>
            </li>
            <li class="partners__item">
                <div class="partners__logo">
                    <img src="./dist/img/testimonial/logo-3.png"
                         alt="Smashing magazine"
                         class="partners__img"
                         width="64" height="64">
                </div>
                <p class="partners__about">
                    In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh.
                    Morbi
                    tempus auctor felis ac vehicula.
                </p>
            </li>
            <li class="partners__item">
                <div class="partners__logo">
                    <img src="./dist/img/testimonial/logo-4.png"
                         alt="Smashing magazine"
                         class="partners__img"
                         width="225" height="24">
                </div>
                <p class="partners__about">
                    Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed
                    varius
                    urna et pulvinar venenatis.
                </p>
            </li>
            <li class="partners__item">
                <div class="partners__logo">
                    <img src="./dist/img/testimonial/logo-5.png"
                         alt="Smashing magazine"
                         class="partners__img"
                         width="166" height="34">
                </div>
                <p class="partners__about">
                    Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu
                    consequat
                    faucibus.
                </p>
            </li>
            <li class="partners__item">
                <div class="partners__logo">
                    <img src="./dist/img/testimonial/logo-6.png"
                         alt="Smashing magazine"
                         class="partners__img"
                         width="108" height="34">
                </div>
                <p class="partners__about">
                    Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus
                    massa et
                    vestibulum.
                </p>
            </li>
        </ul>
        <p class="testimonial__ref">
            Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae
            aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum
            sociis
            natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
    </div>
</section>