* {
    font-family: 'Montserrat', sans-serif;
}
.container{
    min-width: 320px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;

}
.button {
  display: block;
  border-radius: 40px;
}

.button--accent {
  background: $color-accent;
  border: 2px solid $color-accent;

  &:hover {
    background: $color-white;
    color: $color-accent;
  }
}