
@mixin text-styles($font-weight, $font-size, $line-height, $text-align, $color) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    text-align: $text-align;
    color: $color;
}
@mixin background-image($background-image) {
    background-image: url($background-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@mixin present__rating-btn--after {
    position: relative;
    padding: 8px 10px;
    top: -0.5px;
    left: 10px;
    background-color: $color-white;
    border-left: 1px solid rgba(27, 31, 36, 0.15);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    @media screen and (-webkit-min-device-pixel-ratio:0){
        padding: 7px 10px;
    }
}