<section class="present">
    <div class="container">
    <h2 class="present__title">
        Revolutionary editor
    </h2>
    <p class="present__text">
        Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue. 
    </p>
    <div class="present__rating-wrapper">
        <button type="button" class="present__rating-btn present__rating-btn--watch">
            Watch
        </button>
        <button type="button" class="present__rating-btn present__rating-btn--star">
            Star
        </button>
        <button type="button" class="present__rating-btn present__rating-btn--fork">
            Fork
        </button>
    </div>
    </div>
</section>