.present{
padding-top: 78px;
padding-bottom: 88px;
@media (min-width:481px) {
        padding-bottom: 98px;
        padding-top: 93px;
    }
    @media (min-width:993px) {
        padding-bottom: 70px;
        padding-top: 66px;
    }
&__title {
        @include text-styles(700, 26px, 28px, center, #635C73);
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;

        @media (min-width:481px) {
            font-size: 42px;
            line-height: 42px;
        }
    }
&__text {
    @include text-styles(400, 14px, 20px, center, #323232);
    margin-top: 27px;
    margin-bottom: 36px;

    @media (min-width:481px) {
        font-size: 21px;
        line-height: 32px;
        margin-top: 35px;
    }
}
&__rating-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    column-gap: 15px;
    row-gap: 20px;
}
&__rating-btn {
    cursor: pointer;
    border: 1px solid rgba(27, 31, 36, 0.15);
    border-radius: 3px;
    padding: 5px 10px;
    @include text-styles(700, 14px, 20px, center, $color-black);
    &::before{
        position: relative;
        top: 3px;
    }
    &--watch::before {
        content: url("../img/present/watch.svg");
    }
    &--watch::after {
        content: "4,762";
        @include present__rating-btn--after;
    }
    &--star::before {
        content: url("../img/present/star.svg");
    }
    &--star::after {
        content: "20,876";
        @include present__rating-btn--after;
    }
    &--fork::before {
        content: url("../img/present/fork.svg");
    }
    &--fork::after {
        content: "1,397";
        @include present__rating-btn--after;
    }
}
}